body {
    background-color: rgb(252, 244, 209);
}

#titulo {
    text-align: center;
    font-family: "comic sans ms";
    font-size: 2em;
    color: rgb(117, 83, 39);
    font-weight: bold;
}

#tabela {
    display: grid;
    margin: auto;
    width: 75%;
    border: 2px solid #073a0f;
    background-color: rgb(79, 129, 94);
}

#tabela > div {
    text-align: center;
}