<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Notícias</title>
        <link rel="stylesheet" type="text/css" href="css\estilo.css">
    </head>
    <body>
        <article>
            <header>
                <h1>Notícias da Hora</h1>
            </header>
            <section>
                <div>
                    Diga não á guerra!<br>
                    Say no to war! <br>
                    Mantenha os reatores da usina nuclear fechados
                </div>
            </section>
        </article>
    </body>
</html>