<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tecnologia da Informação</title>
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
    <article>
        <header>
            <h1>Tecnologia da Informação</h1>
        </header>
        <section>
            <header>
                <h2>Informática para Internet</h2>
            </header>
            <div>
                Esta é a área mais abrangente de TI, ou seja além do
                conhecimento das linguagens de programação, precisa ter
                pelo menos uma noção de Publicidade.
            </div>
        </section>
    </article>
</body>
</html>