<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/estilo.css" type="text/css" />
        <title>Home Page</title>
    </head>
    <body>
        <article>
            <header>
                <h1>Instituição</h1>
            </header>
            <div id="container">
                <section>
                    <header>
                    <h2 class="subtitulo">Desenvolvimento</h2>
                    </header>
                    <p>
                    Somos uma empresa de Tecnologia de Informação e desenvolvemos
                    produtos (aplicações web) para estabelecimentos comerciais e empresas.
                    </p>
                </section>
                <section>
                    <header>
                    <h2 class="subtitulo">Hospedagem</h2>
                    </header>
                    <p>
                    Temos um servidor nos Estados Unidos com alta performance e
                    garantimos proteção dos dados da sua empresa.
                    </p>
                </section>
            </div>
        </article>
    </body>
</html>