<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tecnologia</title>
    <link rel="stylesheet" type="text/css" href="css/estilo.css" >
</head>
<body>
    <article>
        <header>
            <h1>Tecnologia da Informação</h1>
        </header>
        <section>
            <p>
                Esta é melhor área para o mercado atualmente. Se liga neste site
                denominado <a href="http://www.w3schools.com">W3schools</a>.
                Tô ligado que você não vai se arrepender. Confia.
            </p>
        </section>
    </article>
</body>
</html>